$font-family: "PT Sans", "Arial", sans-serif;
$font-small: 14px;
$font-normal: 18px;
$font-large: 21px;
$font-giant: 30px;

$black: #000000;
$white: #ffffff;
$blue: #81b3d2;
$blue--dark: #669ec0;
$blue--darker: #5496bd;
$gray--lighter: #f2f2f2;
$gray--light: #eeeeee;
$gray: #e5e5e5;
$gray--dark: #d5d5d5;
$gray--darker: #333333;

$screen-md: 768px;
$screen-lg: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$retina: "(min-resolution: $retina-dpi), (min-resolution: $retina-dppx)";
