$font-family: "PT Sans", "Arial", sans-serif;
$font-small: 14px;
$font-normal: 18px;
$font-large: 21px;

$black: #000000;
$white: #ffffff;
$blue: #81b3d2;
$blue--dark: #669ec0;
$blue--darker: #5496bd;
$gray--lighter: #f2f2f2;
$gray--light: #eeeeee;
$gray: #e5e5e5;
$gray--dark: #d5d5d5;
$gray--darker: #333333;
