.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  font-size: $font-small;
  font-weight: 400;
  line-height: 26px;
  margin-right: 5px;
  letter-spacing: 0.02em;

  @media (min-width: $screen-md) {
    margin-left: 11px;
  }

  @media (min-width: $screen-lg) {
    margin-left: auto;
  }
}

.copyright__link {
  display: block;
  box-sizing: border-box;
  width: 34px;
  height: 27px;
  cursor: pointer;
  margin-top: -3px;

  @media (min-width: $screen-md) {
    margin-left: 3px;
  }

  @media (min-width: $screen-lg) {
    margin-right: 39px;
  }
}
