.features__list {
  margin: 0;
  padding-left: 70px;
  padding-bottom: 9px;
  padding-top: 35px;
  padding-right: 20px;
  list-style-type: none;

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    padding-top: 158px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $screen-lg) {
    margin-bottom: 45px;
  }
}

.features__title {
  margin: 0;
  font-size: $font-normal;
  font-weight: 700;
  line-height: 26px;
  padding-bottom: 14px;
  color: $black;

  @media (min-width: $screen-md) {
    margin-bottom: 7px;
    font-size: $font-large;
  }
}

.features__descr {
  margin: 0;
  padding-bottom: 28px;

  @media (min-width: $screen-md) {
    margin-left: 44px;
    margin-right: 44px;
  }
}

.features__item {
  position: relative;

  @media (min-width: $screen-md) {
    width: 33%;
    text-align: center;
  }
}

.features__item::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  background-color: transparent;

  @media (min-width: $screen-md) {
    width: 77px;
    height: 69px;
  }
}

.features__item--house {
  @media (min-width: $screen-md) {
    order: 1;
  }
}

.features__item--house::before {
  top: -9px;
  left: -49px;
  background-image: url("../img/icon-house.svg");

  @media (min-width: $screen-md) {
    top: -96px;
    left: 88px;
  }

  @media (min-width: $screen-lg) {
    left: 159px;
  }
}

.features__item--gift {
  @media (min-width: $screen-md) {
    order: 3;
  }
}

.features__item--gift::before {
  top: -11px;
  left: -48px;
  background-image: url("../img/icon-gift.svg");

  @media (min-width: $screen-md) {
    top: -97px;
    left: 86px;
  }

  @media (min-width: $screen-lg) {
    left: 156px;
  }
}

.features__item--food {
  @media (min-width: $screen-md) {
    order: 2;
  }
}

.features__item--food::before {
  top: -6px;
  left: -51px;
  background-image: url("../img/icon-burger.svg");

  @media (min-width: $screen-md) {
    top: -96px;
    left: 88px;
  }

  @media (min-width: $screen-lg) {
    left: 159px;
  }
}
