.field-radio {
  margin-bottom: 6px;

  @media (min-width: $screen-md) {
    order: 1;
    width: 45%;
  }
}

.field-radio__input {
  width: 54px;
  height: 54px;
  opacity: 0;
}

.field-radio__name {
  position: relative;
  display: flex;
  align-items: center;
}

.field-radio__name-text {
  text-transform: none;
  font-family: $font-family;
  font-size: $font-normal;
  font-weight: 700;
  line-height: 26px;
  color: $black;
  margin-left: 24px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    background-color: $gray--lighter;
  }

  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    top: 16px;
    left: 16px;
    background-color: $black;
    border-radius: 50%;
    opacity: 0;
  }

  @media (min-width: $screen-lg) {
    margin-left: 22px;
  }
}

.field-radio__input:checked + .field-radio__name-text::after {
  opacity: 1;
}
