.field-text {
  @media (min-width: $screen-md) {
    width: 100%;
    order: 5;
  }
}

.field-text__input {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  font-family: $font-family;
  font-size: $font-normal;
  font-weight: 700;
  line-height: 26px;
  color: $black;
  background-color: $gray--lighter;
  border: none;
}
