.main-nav {
  width: 320px;
  text-align: center;

  @media (min-width: $screen-md) {
    width: $screen-md;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg;
  }
}

.main-nav__toggler {
  position: absolute;
  display: flex;
  align-items: center;
  top: 16px;
  right: 20px;
  height: 23px;
  width: 35px;
  z-index: 10;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;

  @media (min-width: $screen-md) {
    display: none;
  }
}

.main-nav__toggler span {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 100%;
  height: 3px;
  background: $white;
  border-radius: 2px;


  &::before,
  &::after {
    width: 100%;
    height: 3px;
    background: $white;
    border-radius: 2px;
    position: absolute;
    left: 0;
    content: "";
    transform-origin: 50% 50%;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.main-nav__toggler--closed span {
  background: $blue;

  &::before,
  &::after {
    background: $blue;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: $blue;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
  }
}

.main-nav__list--closed {
  display: none;
}

.main-nav__item {
  @media (min-width: $screen-md) {
    width: 20%;
  }
}

/* Space for logo */
.main-nav__item:nth-child(2) {
  @media (min-width: $screen-md) {
    margin-right: 10%;
  }
}

.main-nav__item:nth-child(3) {
  @media (min-width: $screen-md) {
    margin-left: 10%;
  }
}

.main-nav__item a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 55px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 auto;
  color: $white;
  text-decoration: none;
  line-height: 40px;
  font-size: $font-normal;
  font-weight: 700;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;

  @media (min-width: $screen-md) {
    font-size: $font-small;
    color: $black;
    border: none;
  }
}

.main-nav__item a:hover {
  background-color: $blue--dark;

  @media (min-width: $screen-md) {
    background-color: $white;
    color: $blue;
  }
}

.main-nav__item a:active {
  color: #88b6d1;
  background-color: $blue--darker;


  @media (min-width: $screen-md) {
    background-color: $white;
    color: $gray;
  }
}

.main-nav__item--active a {
  @media (min-width: $screen-md) {
    color: #766357;
    cursor: default;
  }
}

.main-nav__item--active a:hover {
  @media (min-width: $screen-md) {
    color: #604e43;
  }
}

.main-nav__item--active a:active {
  @media (min-width: $screen-md) {
    color: #766357;
    opacity: 0.3;
  }
}
