.page-main__img {
  position: relative;
  min-height: 158px;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 141px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 321px;
    height: 30px;
    bottom: 0;
    left: 0;
    background: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: 10;
  }
}
