.page {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-small;
  line-height: 21px;
  color: $gray--darker;
  background-color: $white;
  text-transform: uppercase;
  text-decoration: none;
}
