.page {
  min-width: 320px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: $font-small;
  line-height: 21px;
  color: $gray--darker;
  background-color: $white;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $screen-md) {
    min-width: $screen-md;
    width: $screen-md;
  }

  @media (min-width: $screen-lg) {
    min-width: $screen-lg;
    width: $screen-lg;
    box-shadow: 0 0 30px -4px rgba(0, 0, 0, 0.6);
  }
}
