.page-header {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.page-header__logo-wrapper {
  display: block;
  position: relative;
  align-self: center;
  z-index: 10;

  @media (min-width: $screen-md) {
    position: inherit;
    align-self: auto;
  }
}

.page-header__logo {
  display: block;
  z-index: 10;

  @media (min-width: $screen-md) {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-header__logo-img {
  @media (min-width: $screen-lg) {
    width: 187px;
    height: 97px;
  }
}
