.page-footer {
  width: 100%;
  text-align: center;
  background-color: $white;

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }
}

.page-footer__hashtag {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: $font-large;
  line-height: 26px;
  color: $black;

  @media (min-width: $screen-md) {
    width: 33.3%;
    margin: 0;
  }
}

.page-footer__social {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;

  @media (min-width: $screen-md) {
    width: 33.3%;
    margin: 0;
  }
}

.page-footer__copyright {
  width: 320px;
  margin: 0 auto;
  color: $black;
  margin-bottom: 30px;

  @media (min-width: $screen-md) {
    width: 33.3%;
    margin: 0;
  }
}
