.page-footer {
  width: 100%;
  text-align: center;
  background-color: $white;
}

.page-footer__hashtag {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: $font-large;
  line-height: 26px;
  color: $black;
}

.page-footer__social {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.page-footer__copyright {
  width: 320px;
  margin: 0 auto;
  color: $black;
  margin-bottom: 30px;
}
