.page-header {
  display: flex;
  flex-direction: column;
  /*width: 100%;*/

  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.page-header__logo-wrapper {
  display: block;
  position: relative;
  align-self: center;
  z-index: 10;
  /*padding-top: 56px;*/

  @media (min-width: $screen-md) {
    position: inherit;
    align-self: auto;
  }
}

.page-header__logo {
  display: block;
  /*position: absolute;
  top: -1px;
  left: 110px;*/
  z-index: 10;

  @media (min-width: $screen-md) {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    /*background-color: transparent;*/
  }
}
