.promo {
  text-align: center;
}

.promo__img{
  min-height: 390px;
  background: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding-top: 90px;
    width: 282px;
    height: 214px;
  }
}

.promo__slogan,
.promo__title {
  font-size: $font-normal;
  font-weight: 700;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.promo__text {
  color: $gray--darker;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
}
