.reasons {
  position: relative;
  text-align: center;
  color: $white;

  &--gray {
    background-color: $gray--light;
    color: $black;
  }
}

.reasons__inner {
  background-color: $blue;
  padding-top: 44px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 40px;
}

.reasons__inner--triangle {
  padding-top: 60px;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 30px;
    top: 0;
    left: 0;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    z-index: 10;
  }
}

.reasons__title {
  font-size: $font-normal;
  line-height: 26px;
  font-weight: 700;
  margin: 0 auto;
}

.reasons__num {
  display: block;
  margim: 0 auto;
  padding-top: 16px;
  padding-bottom: 20px;
}

.reasons__descr {
  margin: 0 auto;
}

.reasons__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.reasons__item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 31px;
  padding-right: 31px;

  &:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }
}

.reasons__img img {
  width: 320px;
  height: 260px;
}
