.social__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 151px;
}

.social__item {
  display: inline-block;
  box-sizing: border-box;
  width: 47px;
  height: 47px;
  background-color: $blue;
  cursor: pointer;
}
