.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-left: 84px;
  margin-right: 85px;
}

.social__item {
  display: inline-block;
  box-sizing: border-box;
  width: 47px;
  height: 47px;
  background-color: $blue;
}
