.video {
  text-align:center;
}

.video__subtitle {
  margin: 0 auto;
  font-size: $font-normal;
  font-weight: 700;
  line-height: 26px;
  color: $black;
  margin-bottom: 37px;
  margin-top: 37px;
}

.video__text {
  margin: 0;
  line-height: 24px;
  margin-left: 34px;
  margin-right: 34px;
  margin-bottom: 40px;
}
